* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* Decide el tamaño de las cajitas, puede tener 2 valores. Border box hace que el total de la caja sea lo que yo diga, mientras que box sizing hace que aparte del contenido se le suma la caja */
}

body{
	margin: 0;				/* Le puse margin 0 porque sino dejaba un borde encima del header y esas cosas que quedan feo */
}

a {
	font-family: 'Press Start 2P', cursive;
	font-size: 0.6em;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
    line-height: 2;
}

strong{
	font-family: 'Press Start 2P', cursive;
	font-size: 0.6em;
}

h2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
}

h3 {
	font-family: 'Press Start 2P', cursive;

	color: #F0E9D2;
	font-size: 30px;
}


h4 {
	font-family: 'Press Start 2P', cursive;
	color: #678983;
	font-size: 18px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(0.98);
}

.container {
	max-width: 1400px;	/* Una vez se pase de 1400 pixeles se ira centrando (poniendo margenes automaticos) para que no se pegue al borde*/
	margin: auto;
}

/*****         HEADER         *****/

header h3 {
    font-size: 1.5em;
    color: #F0E9D2;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 26, 0.9); /*Azul*/
    z-index: 1;
}

header .container{
    display: flex;                  
    flex-direction: column;
}

header .barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header .logo{
    display: flex;              /* Display determina como se relacionan elementos, en este caso row para que la imagen y el texto estén de seguido */
    flex-direction: row;    
    padding: 25px;              /* El padding lo centra y hace que no esté pegado a los bordes, pero sin hacer que el header tengo un hueco por arriba */
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb #F0E9D2;
}

header .imagen{
    margin-top: 5px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

header #hamburguesa{
    margin-right: 10px;
}

header nav{                     
	display: none;
  	flex-direction: column;
  	align-items: center;
  	height: 100vh;
  	background-color: rgb(0, 0, 26);
  	
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    color: #E6DDC4;
    margin: 40px;
}

header a:hover{
    color: #678983;

}


/*****         DATOS         *****/
#datos .caja_gif {
	margin-top: 70px;
	filter: drop-shadow(0px 2px 10px black);
	margin-bottom: 30px;
}
#datos .gif{
	width: 100%;
	
}

.panel_gif a{
	text-decoration: none;
	color: #F0E9D2;
}

.panel_gif a:hover{
    color: #678983;

}

#datos .panel_gif {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: #F0E9D2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.panel_gif p {
	text-align: center;
	font-size: 20px;
}

#datos {
	font-family: 'Press Start 2P', cursive;
	padding: 20px;
	background-color: #678983;
}

#datos p {
	margin: 5px;
}

.datos_contenido {
	padding-bottom: 20px;
	font-size: 25px;
}

.leyenda {
	font-size: 15px;
	color: #F0E9D2;
}

#datos button {
	font-family: 'Press Start 2P', cursive;

	width: 250px;
	height: 40px;

	border: outset;
	border-radius: 10px;

	background-color: #F0E9D2;
	color: black;
	font-weight: bold;
}


/***   Campaña   ***/

#campana {
	background-color: #F0E9D2;
}

#campana img {
  	width: 80%;
    height: auto;
    filter: drop-shadow(0px 2px 10px black);
    margin-bottom: 10px;
    margin-top: 15px;

}

.columnas {
	margin-left: 15%;
	margin-right: 15%;
}

.column {
	flex: 1;
	padding: 20px;
	text-align: center;
}

.column h2 {
	color: #333;
}

#capturas_juego {
  	background-color: #678983;
}

#capturas_juego p{
	margin-left: 8%;
	margin-right: 8%;
    text-align: justify;

}

#capturas_juego img {
  	width: 80%;
    height: auto;
    filter: drop-shadow(0px 2px 10px black);
    margin-bottom: 30px;
    margin-top: 30px;
    
}


/*** FAQ ***/

#preguntas_frecuentes h3{
      color: #678983;
      text-align: center;
    }

#preguntas_frecuentes{ /*Contorno*/
	border-radius: 8px;
	padding-bottom: 8px;
	padding-top: 10px;
	background-color: #F0E9D2;
	
}

.preguntas_frecuentes_contenido {
	/*Disposicion de los bloques*/
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
}

.preguntas_bloque {
	/*Contenido*/
	display: flex;

  width: 70%;
  margin-bottom: 1rem;   
  border-radius: 8px;  
  border: 1px solid #E6DDC4;
  color: #364f6b;
  background-color: #678983;
}

.pregunta{ /*Pregunta escrita*/
	color: rgba(0, 0, 26, 1);
}

details summary {
	font-family: 'Press Start 2P', cursive;
    font-size: 0.6em;
    line-height: 2;
	padding: 1rem;
	cursor: pointer;
	list-style: none;
	text-align: center;

}

details p {
  padding: 0.5rem;
  margin: 0px 1rem 1rem 1rem;
  color: #000000;
  border-left: 2px solid #364f6b;
  text-align: justify;
  }



/*** Info ***/

#informacion_general {
	background-color: #678983;
	width: 100%;
	text-align: center;
}

.info{
	margin-bottom: 30px;
}

.campana_contenido img {
	width: 40%;
	height: auto;
	filter: drop-shadow(0px 2px 10px black);
	margin-bottom: 10px;
	margin-top: 25px;
	margin-left: 30%;

}

.columnas_info {

	margin-left: 15%;
	margin-right: 15%;
}

.column {
	flex: 1;
	padding: 20px;
	text-align: center;
}

.column h2 {
	color: #333;
}

#informacion_general a{
	font-size: 1em;
	text-decoration: none;
	color: #F0E9D2;
}

#informacion_general a:hover{
    color: #333;

}

/***Sobre Nosotros***/

#sobre_nosotros {
	padding-top: 10px;
	border-radius: 8px;
	background-color: #F0E9D2;
}

#sobre_nosotros h3 {
	color: #678983;
}

#sobre_nosotros .container {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 3%;
	text-align: center;
}


.about-us {
	text-align: center;
	margin-bottom: 20px;
}

.about-us img {
	margin-top: 10%;
	margin-left: 20%;
	width: 200px;
	height: auto;

}

.team-members-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.team-member {
	width: 300px;
	margin: 10px;
	text-align: center;
}

.team-member img {
	width: 150px;
	height: auto;
	border-radius: 50%;
	margin-bottom: 10px;
}


/***Comentarios***/

#comentarios {
	padding-top: 10px ;
	width: 100%;

	background-color: #678983;
}

.comentarios_contenido {
	display: inline-flex;
	justify-content: center;
	margin-inline: 75px;
	margin-bottom: 25px;
	text-align: justify;
}

.comentarios {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.comentariosBloque {
	border-radius: 8px;
	width:400px;

	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 20px;
	margin: 15px;
	background-color: #F0E9D2;

}

/*****           FOOTER           *****/
footer {
	background-color: pink;
	padding: 15px;
}

footer p {
	font-size: 0.4em;
	margin-bottom: 0px;
}


/*****       Versión para ordenadores      *****/

@media(min-width: 850px){

p{
	font-size: 0.65em;
}
/*****      Header      *****/

#hamburguesa {
    display: none;
}

header .container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

header #menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    height: auto;
}

header a{
	margin: 0;
}
/*****         DATOS PATROCINADORES         *****/


	header #menu {
		display: flex;
		flex-direction: row;
		text-align: center;
		padding: 10px;
		background-color: transparent;
		height: auto;
	}

	/*****         DATOS PATROCINADORES         *****/
	#datos .caja_gif {
		margin-top: 70px;
		filter: drop-shadow(0px 2px 10px black);
		margin-bottom: 30px;
	}
	
	#datos .panel_gif {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		color: #F0E9D2;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}
	
	.panel_gif p {
		text-align: center;
		font-size: 30px;
	}

	#datos .container {
		width: 70%;
		display: flex;
		flex-direction: row;

		align-items: center;
		justify-content: space-between;

	}


	/*****         INFO GENERAL        *****/
	.columnas {
		display: flex;
		flex-direction: row;
	}

.comentariosBloque {
	width:600px;
}

/******* Imagenes ******/

#capturas_juego img {
  	width: 680px;
    height: auto;
    filter: drop-shadow(0px 2px 10px black);
    margin-bottom: 10px;
    margin-top: 15px;
    
}
}
