*{
	box-sizing: border-box; /* Decide el tamaño de las cajitas, puede tener 2 valores. Border box hace que el total de la caja sea lo que yo diga, mientras que box sizing hace que aparte del contenido se le suma la caja */
}

body{
	margin: 0;				/* Le puse margin 0 porque sino dejaba un borde encima del header y esas cosas que quedan feo */
}


.container {
	max-width: 1400px;	/* Una vez se pase de 1400 pixeles se ira centrando (poniendo margenes automaticos) para que no se pegue al borde*/
	margin: auto;
}

/*****         HEADER         *****/

header{
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 26, 0.9);
}

header .container{
	display: flex;					
	flex-direction: column;
}

header .barra{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

header .logo{
	display: flex;				/* Display determina como se relacionan elementos, en este caso row para que la imagen y el texto estén de seguido */
	flex-direction: row;	
	padding: 25px;				/* El padding lo centra y hace que no esté pegado a los bordes, pero sin hacer que el header tengo un hueco por arriba */
	padding-top: 5px;
	padding-bottom: 5px;
	color: rgb(240, 240, 240);
}

header .imagen{
	height: 50px;
	width: 50px;
}

header #hamburguesa{
	margin-top: 10px;
	margin-right: 10px;
}

header nav{						
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	background-color: rgb(0, 0, 26);
	height: 100vh;
}

header a{
	padding: 5px 10px;
	text-decoration: none;
	color: rgb(240, 240, 240);
}

header a:hover{
	color: darkred;
}

/*****           FOOTER           *****/
footer{
	background-color: pink;
	padding: 15px;
}

footer p{
	font-size: 0.75em;
	margin-bottom: 0px;
}


/*****       Versión para ordenadores      *****/

@media (min-width: 720px){

/*****      Header      *****/

#hamburguesa {
	display: none;
}

header .container{
	display: flex;					
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

header #menu{
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 10px;
	background-color: transparent;
	height: auto;
}

#preguntas_frecuentes{
	border-radius: 8px;
	background-color: #304E2C;
	padding-bottom: 8px;
}

.preguntas_frecuentes_contenido{
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
}
	
.preguntas_bloque{
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width:100%;
}

#sobre_nosotros{
	border-radius: 8px;
	background-color: #8AA488;
}

.sobre_nosotros_contenido{
	display: inline-flex;
	justify-content: center;
	margin-inline: 200px;
	margin-bottom: 25px;
}

details { 
  background-color: #f6f8fa;
  width: 70%;
  margin-bottom: 1rem;   
  border-radius: 8px;  
  border: 1px solid #d8e0e9;
  color: #364f6b;
  position: relative; 
}

  details summary {  
  font-weight: 100;
  font-size: 1.25rem;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}

details p {
  padding: 0.5rem;
  margin: 0 1rem 1rem 1rem;
  background: #f6f8fa;
  border-left: 2px solid #364f6b;
  }
}