*{
	box-sizing: border-box; /* Decide el tamaño de las cajitas, puede tener 2 valores. Border box hace que el total de la caja sea lo que yo diga, mientras que box sizing hace que aparte del contenido se le suma la caja */
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: "Upheaval";
    src: url('fonts/Upheaval.ttf') format('truetype');
}

h3 {
  font-family: "Upheaval";
  color: #F0E9D2;
  font-size: 30px;
}

h4{
	color: #678983;
	font-size: 20px;
}

body{
	margin: 0;				/* Le puse margin 0 porque sino dejaba un borde encima del header y esas cosas que quedan feo */
}


section{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.container {
	max-width: 1400px;	/* Una vez se pase de 1400 pixeles se ira centrando (poniendo margenes automaticos) para que no se pegue al borde*/
	margin: auto;
}

/*****         HEADER         *****/

header{
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 26, 0.9);
	z-index: 1;
}

header .container{
	display: flex;					
	flex-direction: column;
}

header .barra{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

header .logo{
	display: flex;				/* Display determina como se relacionan elementos, en este caso row para que la imagen y el texto estén de seguido */
	flex-direction: row;	
	padding: 25px;				/* El padding lo centra y hace que no esté pegado a los bordes, pero sin hacer que el header tengo un hueco por arriba */
	padding-top: 5px;
	padding-bottom: 5px;
	color: rgb #F0E9D2;
}

header .imagen{
	height: 50px;
	width: 50px;
}

header #hamburguesa{
	margin-top: 10px;
	margin-right: 10px;
}

header nav{						
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	background-color: rgb(0, 0, 26);
	height: 100vh;
}

header a{
	padding: 5px 10px;
	text-decoration: none;
	color: #E6DDC4;
}

header a:hover{
	color: #678983;
}




/*** FAQ ***/

#preguntas_frecuentes{ /*Contorno*/
	border-radius: 8px;
	padding-bottom: 8px;
	padding-top: 10px;
	background-color: #678983;
}

.preguntas_frecuentes_contenido{ /*Disposicion de los bloques*/
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
}
	
.preguntas_bloque{ /*Contenido*/
	display: flex;
  width: 70%;
  margin-bottom: 1rem;   
  border-radius: 8px;  
  border: 1px solid #E6DDC4;
  color: #364f6b;
  background-color: #F0E9D2;

}

  details summary {  
  font-weight: 100;
  font-size: 1.25rem;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
  text-align: center;

}

details p {
  padding: 0.5rem;
  margin: 0px 1rem 1rem 1rem;
  background: #f6f8fa;
  border-left: 2px solid #364f6b;
  text-align: justify;
  }


/***Imagenes carousel***/
#capturas_juego {
  background-color: #678983;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  display: none;
}

.gallery img:first-child {
  display: block;
}

.gallery img.active {
  display: block;
}

@keyframes slideshow {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***Sobre Nosotros***/

	#sobre_nosotros{
		padding-top: 10px ;
		border-radius: 8px;
		background-color: #F0E9D2;
	}

	#sobre_nosotros h3{
      color: #678983;
    }

    #sobre_nosotros .container{
		margin-left:20%;
		margin-right:20%;
		margin-bottom:3%;
		text-align: center;

	}

    
    .about-us {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .about-us img {
		margin-top:20%;
		margin-left: 20%;
        width: 200px;
        height: auto; 
        
    }

    .team-members-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .team-member {
      width: 300px;
      margin: 10px;
      text-align: center;
    }
    
    .team-member img {
      width: 150px;
      height: auto;
      border-radius: 50%;
      margin-bottom: 10px;
    }


/***Comentarios***/

#comentarios{

	padding-top: 10px ;
	border-radius: 8px;
	background-color: #678983;
}

.comentarios_contenido{
	display: inline-flex;
	justify-content: center;
	margin-inline: 75px;
	margin-bottom: 25px;
	text-align: justify;
}

.comentarios{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width:100%;
}

.comentariosBloque{
	border-radius: 8px;
	width:500px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 20px;
	margin: 15px;
	background-color: #F0E9D2;


}

/*****           FOOTER           *****/
footer{
	background-color: pink;
	padding: 15px;
}

footer p{
	font-size: 0.75em;
	margin-bottom: 0px;
}


/*****       Versión para ordenadores      *****/

@media (min-width: 720px){

/*****      Header      *****/

#hamburguesa {
	display: none;
}

header .container{

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

header #menu{
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 10px;
	background-color: transparent;
	height: auto;
}

}